* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*====Header section======*/
.section-header {
  height: 100vh;
  color: white;
  background-color: #aa082a;
  position: relative;
}

.heading-container {
  position: absolute;
  display: block;
  top: 10%;
  margin-left: 10rem;
}

.heading-primary {
  padding-bottom: 4rem;
  font-size: 3rem;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
}

.tags-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.tag-icon {
  margin-right: 0.5rem;
}

.tag {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: black;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 3rem;
  width: fit-content;
  padding: 0rem 1rem;

  background-color: #f1f4ff;

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.tag-content {
  display: flex;
  gap: 10px;
}

.header--img-container {
  position: absolute;
  top: 36%;
  right: 20%;
  height: 24rem;
}

.header-img {
  height: 100%;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
}

.header-img--icon {
  display: block;
  position: absolute;
  transition-property: all;
  transition-duration: 0.5s;
}

.header-img--icon:hover,
.header-img--icon:focus {
  transform: scale(1.25) rotate(10deg);
  -webkit-transform: scale(1.25) rotate(10deg);
  -moz-transform: scale(1.25) rotate(10deg);
  -ms-transform: scale(1.25) rotate(10deg);
  -o-transform: scale(1.25) rotate(10deg);
  /* box-shadow: -5px 5px 5px black; */
  text-shadow: -5px 5px 5px black;
}

.header-img--icon-star {
  top: -25%;
  left: -20%;
}

.header-img--icon-butterfly {
  bottom: -15%;
  left: -10%;
}

.header-img--icon-blocks {
  bottom: -20%;
  right: -20%;
}

.header-img--icon-thought {
  top: -50%;
  right: -42%;
}

.header-img--icon-thought:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.header-img--icon-idea {
  z-index: 10;
  top: -42%;
  right: -27%;
}

.img-wave {
  width: 100%;
  margin-top: -1rem;
}
/*================================*/

/* ========SECTION: COURSE CATALOGUE======== */
.heading-secondary{
  color: #AA082A;
  margin-bottom: 2rem;
  font-weight: bold;
}

.filters-container{
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}

.btn-text{
  color: #88061b;
  text-decoration: underline;
  margin-top: 1.5rem;
}

.btn-primary--link{
  width: fit-content;
  padding: .5rem 2rem;
  color: #88061b;
  border: 1px solid #88061b;
  background-color: transparent;
  border-radius: 2rem;
  font-size: 14px;
  font-weight: 700;
}


.card__heading--link{
  text-decoration: none;
  color: #88061b;
}


.section--course-catalogue {
    margin: 8rem 4rem;
    height: fit-content;
}

/* ==========course tabs========= */
#myTab {
  margin-bottom: 1rem;
}

.nav-item button:hover {
  background-color: #bbb;
}

.nav-tabs .nav-link {
  border-radius: 25px 25px 0 0 !important;
  padding: 1rem 2rem;
  font-weight: 900;
}

.nav-tabs .nav-link.active {
  color: white !important;
  background-color: #aa082a !important;
  /* border-color: #dee2e6 #dee2e6 #fff; */
}

.nav-tabs .nav-link {
  color: rgba(132, 0, 28, 0.6) !important;
  background-color: #e4e1dd !important;
  /* border-color: #dee2e6 #dee2e6 #fff; */
}

/* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: white;
  background-color: #AA082A;
  border-color: #dee2e6 #dee2e6 #fff;
} */

.card-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* =======course card======== */
*{
  margin:0;
  padding: 0;
}

.course-card{
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

.course-card--img-container{
    width: 20rem;
    height: 22rem;
    margin-right: 1rem;
}

.course-card--img{
  max-width:100%;
  height:100%;
  border-radius: 1rem;
}

.course-card--info{
  display: flex;
  flex-direction: column;
  width: 30%;
  /*gap: 2rem;*/
  color: #AA082A;
}

.course-card--title{
  margin-bottom: .5rem;
}

.course-card--desc{
  margin-bottom: 1rem;
}

.course-card__meta-container{
  display: flex;
  gap: 2rem;
  color: #888;
}

.course-card__meta--icon{
  width: 2rem;
}

.course-card__meta-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-card{
  border: 1px solid #888;
  border-radius: 1rem;
  width: 20rem;
}

.price-card--span-heading-main{
  display: flex;
  align-items: flex-end;
}

.price-card--heading-container{
  text-align: center;
   padding: 1rem 0rem;
    color: #AA082A;
      display: flex;
    flex-direction: column;
    align-items: center;

}

.price-card--heading{
  margin-bottom: 0;
    margin-right: 0.5rem;
}

.price-card--span-heading-main{
  display: flex;
    margin: 0 auto;
}

.price-card--subheading{
  margin-bottom: .75rem;
}

.price-card--text{
  margin-bottom: 0;
}

.price-card--meta-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 0rem 1rem;
  color: #888;
}

.price-card--meta{
  display: flex;
}

.price-card--meta-icon{
  margin-right: .5rem;
      width: 1.75rem;

}

.price-card--meta-text{
  margin-bottom: 0;
}

.divider{
  margin: 0;
}

.price-card--btn{
  display: block;
  margin: 1rem auto;

}


/*================================*/

/*====CTA section======*/
.section--cta{
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}

.cta--container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: auto;
  padding: 4rem 5rem;
  background-color: rgba(228, 225, 221, .5);
  color: #AA082A;
  border-radius: 1rem;
  text-align: center;
}

.cta--heading{
  font-size: 2.5rem;
  width: 100%;
}

.cta-corner--top-left{
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.cta-corner--bottom-right{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.cta--list{
  text-align: left;
}

.cta--list-item{
  margin-bottom: 1rem;
  font-weight: bold;
}

/*===========================*/

/*==========Section Contact===========*/
.section-contact{
  display: flex;
  gap: 2rem;
}

.contact-details-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*==================================*/


