<!DOCTYPE html>
{% load static %}
<html>
  <head>
{#    <link rel="stylesheet" href="globals.css" />#}
{#    <link rel="stylesheet" href="styleguide.css" />#}
{#    <link rel="stylesheet" href="style.css" />#}
{#      <link rel="stylesheet" type="text/css" href="{% static 'globals.css' %}"/>#}
{#      <link rel="stylesheet" type="text/css" href="{% static 'genioapp/styleguide.css' %}"/>#}
      <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
  </head>
  <body>
    <div class="instructor-profile">
      <div class="div">
        <div class="socials-bar">
          <img class="mdi-phone" src="https://c.animaapp.com/yqGdc19i/img/mdi-phone-1.svg" />
          <div class="TEL">TEL:&nbsp;&nbsp;(+2) 03 5832093</div>
          <img class="socials-box" src="https://c.animaapp.com/yqGdc19i/img/socials-box.svg" />
          <div class="frame">
            <div class="text-wrapper">LOGIN</div>
            <img class="vector" src="https://c.animaapp.com/yqGdc19i/img/vector-1.svg" />
          </div>
        </div>
        <div class="navbar">
          <img class="image" src="https://c.animaapp.com/yqGdc19i/img/image-11-1@2x.png" />
          <div class="text-wrapper-2">HOME</div>
          <div class="text-wrapper-2">ABOUT US</div>
          <div class="text-wrapper-2">AGE 6-11</div>
          <div class="text-wrapper-2">AGE11-16</div>
          <div class="text-wrapper-2">AGE16+</div>
          <div class="text-wrapper-2">COURSES</div>
        </div>
        <img class="ellipse" src="https://c.animaapp.com/yqGdc19i/img/ellipse-3.svg" />
        <div class="text-wrapper-3">Instructor</div>
        <div class="text-wrapper-4">Developer and Lead Instructor</div>
        <div class="text-wrapper-5">Dr. Angela Yu</div>
        <img class="material-symbols" src="https://c.animaapp.com/yqGdc19i/img/material-symbols-star-1.svg" />
        <img class="img" src="https://c.animaapp.com/yqGdc19i/img/material-symbols-star.svg" />
        <img class="ion-ribbon" src="https://c.animaapp.com/yqGdc19i/img/ion-ribbon.svg" />
        <img class="ic-baseline-people" src="https://c.animaapp.com/yqGdc19i/img/ic-baseline-people.svg" />
        <img class="mingcute-video-fill" src="https://c.animaapp.com/yqGdc19i/img/mingcute-video-fill.svg" />
        <div class="text-wrapper-6">4.7 Instructor rating</div>
        <div class="text-wrapper-7">4.7 Instructor rating</div>
        <p class="more-courses-by-dr">
          <span class="span">More Courses by </span> <span class="text-wrapper-8">Dr. Angela Yu</span>
        </p>
        <div class="text-wrapper-9">10,000+ reviews</div>
        <div class="text-wrapper-10">10,000+ reviews</div>
        <div class="text-wrapper-11">4567 students</div>
        <div class="text-wrapper-12">7 courses</div>
        <p class="lorem-ipsum-dolor">
          Lorem ipsum dolor sit amet consectetur. Libero viverra nam faucibus sed aliquam. Habitant velit amet nulla
          vel. Consectetur iaculis sed lectus posuere adipiscing porttitor eget scelerisque et. Accumsan id sed et amet.
          Auctor dolor eleifend habitant vitae dignissim. Mauris amet egestas sapien pretium at. Sed leo venenatis
          tincidunt hac porttitor.<br />Pellentesque magnis risus dignissim neque sed non sodales. Congue tortor leo
          nec.
        </p>
        <div class="ellipse-2"></div>
        <img class="image-2" src="https://c.animaapp.com/yqGdc19i/img/image-21.png" />
        <div class="course-box">
          <img class="rectangle" src="https://c.animaapp.com/yqGdc19i/img/rectangle-3-2.svg" />
          <p class="p">
            <span class="text-wrapper-13">Claudia Watts<br /></span>
            <span class="text-wrapper-14">Video games<br /></span>
            <span class="text-wrapper-13"
              >In this course kids will learn the concepts of game design, they will build their 3D world, create the
              characters and program them to follow their rules<br
            /></span>
          </p>
          <div class="rating-box">
            <div class="text-wrapper-15">4.5</div>
            <img class="star" src="https://c.animaapp.com/yqGdc19i/img/star-1-2.svg" />
            <div class="text-wrapper-16">(88.7k reviews)</div>
          </div>
          <div class="meta">
            <div class="text-wrapper-17">Jr</div>
            <div class="text-wrapper-18">L1</div>
            <div class="ellipse-3"></div>
          </div>
        </div>
        <div class="course-box-2">
          <img class="rectangle" src="https://c.animaapp.com/yqGdc19i/img/rectangle-3-1.svg" />
          <p class="p">
            <a href="https://www.behindthename.com/name/victoria" target="_blank" rel="noopener noreferrer"
              ><span class="text-wrapper-13">Victoria</span></a
            >
            <span class="text-wrapper-13">&nbsp;</span>
            <a href="https://surnames.behindthename.com/name/ion" target="_blank" rel="noopener noreferrer"
              ><span class="text-wrapper-13">Ion<br /></span
            ></a>
            <span class="text-wrapper-14">Video games<br /></span>
            <span class="text-wrapper-13"
              >Kids will learn more concepts about programming their game and adding much controllers, they will learn
              how to use joystick to have a more fun interacting game<br
            /></span>
          </p>
          <div class="rating-box">
            <div class="text-wrapper-15">4.5</div>
            <img class="star" src="https://c.animaapp.com/yqGdc19i/img/star-1-2.svg" />
            <div class="text-wrapper-16">(88.7k reviews)</div>
          </div>
          <div class="meta-2">
            <div class="text-wrapper-17">Jr</div>
            <div class="text-wrapper-18">L2</div>
            <div class="ellipse-3"></div>
          </div>
        </div>
        <div class="course-box-3">
          <img class="rectangle" src="https://c.animaapp.com/yqGdc19i/img/rectangle-3.svg" />
          <p class="ryley-geir-daelman">
            <span class="text-wrapper-13">Ryley Geir Daelman<br /></span>
            <span class="text-wrapper-14">Video games<br /></span>
            <span class="text-wrapper-13"
              >Kids will learn more about how to design a game and make it attractive for other kids, they will learn
              how to change the characters behavior depending on a certain event , they will be challenged to create
              their own rules, worlds, and compete with each other<br
            /></span>
          </p>
          <div class="rating-box">
            <div class="text-wrapper-15">4.5</div>
            <img class="star" src="https://c.animaapp.com/yqGdc19i/img/star-1-2.svg" />
            <div class="text-wrapper-16">(88.7k reviews)</div>
          </div>
          <div class="meta-2">
            <div class="text-wrapper-17">Jr</div>
            <div class="text-wrapper-18">L3</div>
            <div class="ellipse-3"></div>
          </div>
        </div>
        <img class="image-3" src="https://c.animaapp.com/yqGdc19i/img/image-17.png" />
      </div>
    </div>
  </body>
</html>
