<!-- about.html -->
{% extends 'genioapp/base0.html' %}
{% block content %}
    <div class="container">
        <h1>About Genio Tech</h1>
        <p>Genio-Tech is an organization founded in 2014 by Eng Ahmed Samir to spread Robotics, Computer science, and STEM Education in Egypt. Over the last couple of years, it became one of the leading STEM education academies in Alexandria and Egypt.</p>
        <p>Technology affects every field of our life; it's not just about computers, smartphones, or tablets anymore. It's about health care, medicine, energy, space research, entertainment, transportation, and even far things like contact lenses you put in your eyes and have a camera in them (There is no greater opportunity than to change a world through technology).</p>
        <p>Genio-Tech advocates change in our young generation's brains. Therefore, our courses vary from simple physics to advanced rocket sciences, done with a twist of fun and interaction to encourage their curiosity and fuel their desire to learn.</p>
        <p>Science, Technology, Engineering, and Math are a way to develop our kids' brains to teach them different ways of thinking, which will make them unique, starting from communication skills, core values, self-confidence, analytical, logical thinking, and problem-solving, which will make them see everyday problems from a different perspective to deal with them easily.</p>
        <h2>About the founder:</h2>
        <p>Eng/Ahmed Samir is the founder of Genio-Tech. With more than ten years of experience in STEM education and engineering, an entrepreneur who has always believed in the power of youth and their capabilities of changing the world.</p>
        <h2>Our Mission</h2>
        <p>To combine education and technology to provide children with the core computing skills that will best prepare them for the digital age.</p>
        <h2>Our Vision</h2>
        <p>To Prepare a generation With a remarkable fingerprint in Changing our future.</p>
    </div>
{% endblock %}
