{% extends 'genioapp/base0.html' %} {% block content %} {% load static %}

<section class="section-hero">
  <div class="hero-img-container">
      <img src="{% static 'genioapp/img/courses-banner-1.png' %}" alt="hero" />
      <img src="{% static 'genioapp/img/courses-banner-2.png' %}" alt="hero" />

  </div>
</section>







     <section class="section--course-catalogue">
        <ul class="nav nav-tabs" id="myTab" role="tablist">

            {% for item in courses_with_levels %}

                <li class="nav-item" role="presentation">
                    <button
{#                            {% if cryptocurrency.volume_24h < 0 %}text-danger{% else %}text-success{% endif %}#}

                        class="nav-link {% if forloop.first %}active{% endif %}"
                        id="{{ item.course.title }}-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#{{ item.course.title }}"
                        type="button"
                        role="tab"
                        aria-controls="{{ item.course.title }}"
                        aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                    >
                        {{ item.course.title}}
                    </button>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="myTabContent">
            {% for item in courses_with_levels %}
                <div
                    class="tab-pane fade show {% if forloop.first %}active{% endif %}"
                    id="{{ item.course.title }}"
                    role="tabpanel"
                    aria-labelledby="{{ item.course.title }}-tab"
                >
                    <div  class="card-container">
                        {% for level in item.levels %}
                            <div class="card">
                                <div class="card__side card__side--front">
                                    <div class="card__picture card__picture--1">
{#                                        <img src="{% static 'genioapp/img/video-games_jr_l1.png' %}" />#}
                                        <img src="{{ item.course.image.url }}" alt="{{ item.course.title }}"/>
                                        <video src="{{ item.course.video  }} "
                                                type="video/mp4" muted class="vid {{ level.id }}-vid" id="course-vid"
                                                loop style="width: 100%;">
                                        </video>

                                    </div>
                                    <div class="card__details">
                                        <span class="instructor">{{ item.course.instructor.name }}</span>
                                        <h4 class="card__heading">
                                            <span class="card__heading-span card__heading-span--1">
                                                {{ level.name }}
                                            </span>
                                        </h4>
                                        <p>
                                            {{ level.description }}
                                        </p>

                                        <p>Jr &bull; L1</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                <a href="{% url 'genioapp:course_detail' item.course.id %}" class="btn-primary btn-primary-small">Register Now!</a>

                </div>
            {% endfor %}
        </div>


    </ul>
    </section> 














  <!-- <h1>All Courses</h1>
  <section class="section--course-catalogue">
    <ul class="nav nav-tabs" id="myTab" role="tablist">

      {% for item in courses_with_levels %}

        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="{{ item.course.title }}-tab"
            data-bs-toggle="tab"
            data-bs-target="#{{ item.course.title }}"
            type="button"
            role="tab"
            aria-controls="{{ item.course.title }}"
            aria-selected="true"
          >
            {{ item.course.title}}
          </button>
        </li>
      {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
      {% for item in courses_with_levels %}
{#          {% for level in item.levels %}#}
        <div
          class="tab-pane fade show"
          id="{{ item.course.title }}"
          role="tabpanel"
          aria-labelledby="{{ item.course.title }}-tab"
        >
          <div  class="card-container">
            {% for level in item.levels %}
              <div class="card">
                <div class="card__side card__side--front">
                  <div class="card__picture card__picture--1">
                    <img src="{% static 'genioapp/img/video-games_jr_l1.png' %}" />
                  </div>
                  <div class="card__details">
                    <span class="instructor">{{ item.course.instructor.name }}</span>
                    <h4 class="card__heading">
                      <span class="card__heading-span card__heading-span--1">
                        {{ level.name }}
                      </span>
                    </h4>
                    <p>
                      {{ level.description }}
                    </p>
              <!-- <span class="rating">4.5 stars &#9733;</span>
                  <span class="reviews">(2.5k reviews)</span> -->
                    <p>Jr &bull; L1</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
{#          {% endfor %}#}
      {% endfor %}
    </div>


{#    <li class="nav-item" role="presentation">#}
{#      <button#}
{#        class="nav-link"#}
{#        id="scratch-tab"#}
{#        data-bs-toggle="tab"#}
{#        data-bs-target="#scratch"#}
{#        type="button"#}
{#        role="tab"#}
{#        aria-controls="scratch"#}
{#        aria-selected="false"#}
{#      >#}
{#        Scratch software#}
{#      </button>#}
{#    </li>#}
{#    <li class="nav-item" role="presentation">#}
{#      <button#}
{#        class="nav-link"#}
{#        id="ev3-tab"#}
{#        data-bs-toggle="tab"#}
{#        data-bs-target="#ev3"#}
{#        type="button"#}
{#        role="tab"#}
{#        aria-controls="ev3"#}
{#        aria-selected="false"#}
{#      >#}
{#        EV 3 Robotics#}
{#      </button>#}
{#    </li>#}
{#    <li class="nav-item" role="presentation">#}
{#      <button#}
{#        class="nav-link"#}
{#        id="tetrix-tab"#}
{#        data-bs-toggle="tab"#}
{#        data-bs-target="#tetrix"#}
{#        type="button"#}
{#        role="tab"#}
{#        aria-controls="tetrix"#}
{#        aria-selected="false"#}
{#      >#}
{#        Tetrix#}
{#      </button>#}
{#    </li>#}
{#    <li class="nav-item" role="presentation">#}
{#      <button#}
{#        class="nav-link"#}
{#        id="comp-tab"#}
{#        data-bs-toggle="tab"#}
{#        data-bs-target="#comp"#}
{#        type="button"#}
{#        role="tab"#}
{#        aria-controls="comp"#}
{#        aria-selected="false"#}
{#      >#}
{#        Competition training#}
{#      </button>#}
{#    </li>#}
  </ul>
  </section>

  <nav class="navbar-2" style="margin-top: 400px">
    {% for item in courses_with_levels %}
      <div class="text-wrapper-15">
        <div class="card-container">
          {% for level in item.levels %}
      <!-- Loop three times for three cards -->
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__details">
                  <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1"
                    >{{ item.course.title }}</span
                      >
                    </h4>
                    <p>Instructor: {{ item.course.instructor.name }}</p>
                    <h3>Level: {{ level.name }}</h3>
                    <p>Description: {{ level.description }}</p>
                  </div>
                </div>
              </div>

          {% endfor %}
        </div>
      </div>

    {% endfor %}
  </nav> -->

{% endblock %}
