{% extends 'genioapp/base0.html' %}
{% load static %}
{% block content %}
<body>
    <section class="section-course-details">
        <h1 class="u-text-color-primary">{{ course.title }}</h1>
        <div>
            <p class="u-text-color-grey">Description: {{ course.description }}</p>
            <p class="u-text-color-grey">Start Date: {{ course.start_date }}</p>
            <p class="u-text-color-grey">End Date: {{ course.end_date }}</p>
            <p class="u-text-color-grey">Price: ${{ course.price }}</p>
        </div>

        <h1 class="u-text-color-primary">Course Instructors</h1>
        <div>
            <p class="u-text-color-grey">Instructor: {{ course.instructor }}</p>
            <p class="u-text-color-grey">Bio: {{ instructor_profile.bio }}</p>
            <p class="u-text-color-grey">Language: {{ instructor_profile.language }}</p>
        </div>

        <h1 class="u-text-color-primary">Select Course Level</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.course_level.label_tag }}
          {{ form.course_level }}
          <input type="submit" value="Show Sessions">
        </form>

{#        {% if message %}#}
{#            <p class="message">{{ message }}</p>#}
{#        {% endif %}#}

        {% if course_sessions %}
          <h2 class="u-text-color-primary">Sessions for {{ form.cleaned_data.course_level }}</h2>
          <ul>
            {% for session in course_sessions %}
              <li>{{ session.session }} - {{ session.start_datetime }} to {{ session.end_datetime }}</li>
            {% endfor %}
          </ul>

          {% if form.cleaned_data.course_level.name == 'L1' or message == None  %}
               <div class="form-group">
            <button class="btn-primary"><a href="{% url 'genioapp:createorder' form.cleaned_data.course_level.id %}" class="white-link">
              <div class="">
                Enroll for this Level
              </div>
            </a>
              </button>
               </div>
          {% else %}
            <p class>{{ message }}</p>
          {% endif %}

        {% else %}
            <h2>No sessions available</h2>
        {% endif %}
    </section>
<style>
    .u-text-color-grey {
        font-weight: bold;
        font-size: 16px;
    }
    form label {
        font-weight: bold;
        color: #333;
    }

    form p {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 16px;

    .white-link {
        color: white;
        text-decoration: none;
    }
    }
</style>
</body>
{% endblock %}


