{% extends 'genioapp/base0.html' %} {% block content %} {% load static %}
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>All Courses</title>
    <link rel="stylesheet" href={% static 'genioapp/courses.css' %} />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
    <main>
      <section class="section-header">
        <div class="heading-container">
          <h1 class="heading-primary">
            <span>Robotics and Programming</span><br />
            <span>Online Classes for Kids</span>
          </h1>
          <div class="tags-container">
            <div class="tag">
              <div class="tag-content">
                <img
                  class="tag-icon tag-icon--video"
                  alt="flat orange video camera icon"
                  src={% static 'genioapp/img/mdi_video.svg' %}
                />
                <p class="tag-text">Live video chat sessions</p>
              </div>
            </div>
            <div class="tag">
              <img
                class="tag-icon tag-icon--ribbon"
                alt="flat yellow ribbon icon"
                src={% static "genioapp/img/ion_ribbon.png" %}
              />
              World class teachers
            </div>
            <div class="tag">
              <img
                class="tag-icon tag-icon--calendar"
                alt="flat green calendar icon"
                src={% static 'genioapp/img/ph_calendar-bold.png' %}
              />
              Flexible learning options
            </div>
            <div class="tag">
              <img
                class="tag-icon tag-icon--shapes"
                alt="flat green calendar icon"
                src={% static 'genioapp/img/ri_shapes-fill.png' %}
              />
              Learner ages 3-18
            </div>
          </div>
        </div>

        <div class="header--img-container">
          <img
            alt="kid working on computer blocks"
            class="header-img"
            src={% static 'genioapp/img/gallery/header-courses.jpeg' %}
          />
          <img
            alt="image of a yellow shooting start with trailing streaks"
            class="header-img--icon header-img--icon-star"
            src={% static 'genioapp/img/shooting star.svg' %}
          />
          <img
            alt="image of a blue butterfly"
            class="header-img--icon header-img--icon-butterfly"
            src={% static 'genioapp/img/simple-icons_bluesky.svg' %}
          />
          <img
            alt="a green pyramid of blocks made up of a triangle on the top, a circle, and a square"
            class="header-img--icon header-img--icon-blocks"
            src={% static 'genioapp/img/ri_shapes-line.svg' %}
          />
          <img
            alt="a bulb and a pencil"
            class="header-img--icon header-img--icon-idea"
            src={% static 'genioapp/img/creative (1) 2.svg' %}
          />
          <img
            alt="a thought cloud"
            class="header-img--icon header-img--icon-thought"
            src={% static 'genioapp/img/thought-cloud.png' %}
          />
        </div>
      </section>
      <img class="img-wave" src={% static 'genioapp/img/wave.png' %} />

    <section class="course-catalogue">
        <a class="btn-primary" href="{% url 'genioapp:course_detail' %}">Game Design</a>
    </section>
    </main>

{% endblock %}
