{% extends 'genioapp/base0.html' %}
{% block content %}
    <section class="section-course-details">
        <h1 class="u-text-color-primary">{{ course.title }}</h1>
        <div>
            <p class="u-text-color-grey">Description: {{ course.description }}</p>
            <p class="u-text-color-grey">Instructor: {{ course.instructor.name }}</p>
            <p class="u-text-color-grey">Start Date: {{ course.start_date }}</p>
            <p class="u-text-color-grey">End Date: {{ course.end_date }}</p>
            <p class="u-text-color-grey">Price: ${{ course.price }}</p>
            <button class="btn-primary btn-primary-small">Purchase</button>
        </div>
    </section>

{% endblock %}
