{#<!DOCTYPE html>#} {% extends 'genioapp/base0.html' %} {% load static %}
{% block content %}
    <section class="section-hero">
        <div class="hero-img-container">
            <img src="{% static 'genioapp/img/hero.png' %}" alt="hero" />
        </div>
    </section>
    <section class="section-about">
        <h1 class="about-header">About us</h1>
        <p class="about-text">
            Genio-Tech is an organization founded in 2014 by Eng Ahmed Samir to spread
            Robotics, Computer science and STEM Education in Egypt, over the last couple
            of years it became on the leading STEM education academies in Alexandria
            and Egypt.
            <br />
            <br />

            Genio-Tech advocates change in our young generations’ brains. Therefore, our
            courses vary from simple physics to advanced rocket sciences, done with a
            twist of fun and interaction to encourage their curiosity and fuel their
            desire to learn.
        </p>
    </section>
    <section class="section--course-catalogue">
        <ul class="nav nav-tabs" id="myTab" role="tablist">

            {% for item in courses_with_levels %}

                <li class="nav-item" role="presentation">
                    <button
{#                            {% if cryptocurrency.volume_24h < 0 %}text-danger{% else %}text-success{% endif %}#}

                        class="nav-link {% if forloop.first %}active{% endif %}"
                        id="{{ item.course.title }}-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#{{ item.course.title }}"
                        type="button"
                        role="tab"
                        aria-controls="{{ item.course.title }}"
                        aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                    >
                        {{ item.course.title}}
                    </button>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="myTabContent">
            {% for item in courses_with_levels %}
                <div
                    class="tab-pane fade show {% if forloop.first %}active{% endif %}"
                    id="{{ item.course.title }}"
                    role="tabpanel"
                    aria-labelledby="{{ item.course.title }}-tab"
                >
                    <div  class="card-container">
                        {% for level in item.levels %}
                            <div class="card">
                                <div class="card__side card__side--front">
                                    <div class="card__picture card__picture--1">
{#                                        <img src="{% static 'genioapp/img/video-games_jr_l1.png' %}" />#}
                                        <img src="{{ item.course.image.url }}" alt="{{ item.course.title }}"/>
                                        <video src="{{ item.course.video  }} "
                                                type="video/mp4" muted class="vid {{ level.id }}-vid" id="course-vid"
                                                loop style="width: 100%;">
                                        </video>

                                    </div>
                                    <div class="card__details">
                                        <span class="instructor">{{ item.course.instructor.name }}</span>
                                        <h4 class="card__heading">
                                            <span class="card__heading-span card__heading-span--1">
                                                {{ level.name }}
                                            </span>
                                        </h4>
                                        <p>
                                            {{ level.description }}
                                        </p>

                                        <p>Jr &bull; L1</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                <a href="{% url 'genioapp:course_detail' item.course.id %}" class="btn-primary btn-primary-small">Register Now!</a>

                </div>
            {% endfor %}
        </div>


    </ul>
    </section>

    <section class="section-CTA">
        <h1 class="about-header">How to enroll your child to a class?</h1>

        <a href="{% url 'genioapp:student_form' %}" class="btn-CTA">APPLY NOW</a>

    </section>
    <section class="section-gallery">
        <div class="gallery-container">
            <div class="gallery-img-container">
                <img class="gallery-img" src="{% static 'genioapp/img/gallery-1.png' %}"/>
                <div class="gallery-img--hover-text">
                    <h3>Gallery - Scratch</h3>
                    <p>Children can learn in a fun and
                        interactive way which stimulates
                        their curiosity and desire to learn
                    </p>
                </div>

            </div>
            <div class="gallery-img-container">
                <img class="gallery-img" src="{% static 'genioapp/img/gallery-2.png' %}"/>
                <div class="gallery-img--hover-text">
                    <h3>Gallery - Scratch</h3>
                    <p>Children can learn in a fun and
                        interactive way which stimulates
                        their curiosity and desire to learn
                    </p>
                </div>

            </div>
            <div class="gallery-img-container">
                <img class="gallery-img" src="{% static 'genioapp/img/gallery-3.png' %}"/>
                <div class="gallery-img--hover-text">
                    <h3>Gallery - Scratch</h3>
                    <p>Children can learn in a fun and
                        interactive way which stimulates
                        their curiosity and desire to learn
                    </p>
                </div>
            </div>
            <div class="gallery-img-container">
                <img class="gallery-img" src="{% static 'genioapp/img/gallery-4.png' %}"/>
                <div class="gallery-img--hover-text">
                    <h3>Gallery - Scratch</h3>
                    <p>Children can learn in a fun and
                        interactive way which stimulates
                        their curiosity and desire to learn
                    </p>
                </div>
            </div>
        </div>
    </section>
    <script>
        let cards = document.querySelectorAll(".card__picture--1");

cards.forEach(card => {
  let clip = card.querySelector(".vid"); // Assuming .vid is the class of your video element
  card.addEventListener('mouseover', function handleClick(event) {
    clip.style.visibility = 'visible';
    clip.style.zIndex = 10;
    clip.play();
  });

  card.addEventListener('mouseout', function handleClick(event) {
    clip.style.visibility = 'hidden';
    clip.style.zIndex = -1;
    clip.pause();
  });
});

    </script>
{% endblock %}
