{#<!DOCTYPE html>#}
{% extends 'genioapp/base.html' %}
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:700">
    <link rel="stylesheet" href="{% static 'genioapp/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'genioapp/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'genioapp/styleguide.css' %}" />
      <!-- {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %} -->
  </head>
  {% block content %}
  <body>
    <section class="section--course-catalogue">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Kodu software</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Scratch software</button>
        </li> 
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">EV 3 Robotics</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Tetrix</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Competition training</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture--1"><img src="{% static 'genioapp/img/video-games_jr_l1.png' %}"/></div>
                <div class="card__details">
                    <span class="instructor">Claudia Watts</span>
                    <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1">
                      Video games
                    </span>
                  </h4>
                    <p>
                      In this course kids will learn the concepts of game design, they
                      will build their 3D world, create the characters and program them
                      to follow their rules
                    </p>
                    <span class="rating">4.5 stars &#9733;</span>
                    <span class="reviews">(2.5k reviews)</span>
                    <p>Jr &bull; L1</p>
                  </div>
                </div>
        </div></div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Profile</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Contact</div>
      </div>
    </section>
    <!-- <div class="landing-page">
      <div class="div">
        <div class="frame">
          <img class="mdi-phone" src="https://c.animaapp.com/TPZdvj18/img/mdi-phone.svg" />
          <div class="TEL">TEL:&nbsp;&nbsp;(+2) 03 5832093</div>
          <img class="socials-box" src="https://c.animaapp.com/TPZdvj18/img/socials-box.svg" />
          <div class="frame-2">
            <div class="text-wrapper">LOGIN</div>
            <img class="vector" src="https://c.animaapp.com/TPZdvj18/img/vector.svg" />
          </div>
          <div class="navbar"></div>
        </div>
        <div class="overlap-group">
          <div class="INTRODUCE-YOUR-KID-wrapper">
            <p class="INTRODUCE-YOUR-KID">INTRODUCE YOUR KID<br />TO THE FUTURE<br />GENIO - TECH</p>
          </div>
        </div>
        <div class="text-wrapper-2">Explore all our courses</div>
        <div class="text-wrapper-3">About us</div>
        <div class="course-catalogue">
          <div class="tabs">
            <div class="div-wrapper"><div class="text-wrapper-4">Kodu software</div></div>
            <div class="frame-3"><div class="text-wrapper-5">Scratch software</div></div>
            <div class="frame-4"><div class="text-wrapper-6">EV 3 Robotics</div></div>
            <div class="frame-5"><div class="text-wrapper-7">Tetrix</div></div>
            <div class="frame-6"><div class="text-wrapper-8">Competition training</div></div>
          </div>
          <div class="course-box">
            <img class="rectangle" src="https://c.animaapp.com/TPZdvj18/img/rectangle-3-5.svg" />
            <p class="p">
              <span class="span">Claudia Watts<br /></span>
              <span class="text-wrapper-9">Video games<br /></span>
              <span class="text-wrapper-10"
                >In this course kids will learn the concepts of game design, they will build their 3D world, create the
                characters and program them to follow their rules<br
              /></span>
            </p>
            <div class="rating-box">
              <div class="text-wrapper-11">4.5</div>
              <img class="star" src="https://c.animaapp.com/TPZdvj18/img/star-1-5.svg" />
              <div class="text-wrapper-12">(88.7k reviews)</div>
            </div>
            <div class="meta">
              <div class="text-wrapper-13">Jr</div>
              <div class="text-wrapper-14">L1</div>
              <div class="ellipse"></div>
            </div>
          </div>
          <div class="course-box-2">
            <img class="rectangle" src="https://c.animaapp.com/TPZdvj18/img/rectangle-3-3.svg" />
            <p class="p">
              <span class="span">Victoria Ion<br /></span>
              <span class="text-wrapper-9">Video games<br /></span>
              <span class="text-wrapper-10"
                >Kids will learn more concepts about programming their game and adding much controllers, they will learn
                how to use joystick to have a more fun interacting game<br
              /></span>
            </p>
            <div class="rating-box">
              <div class="text-wrapper-11">4.5</div>
              <img class="star" src="https://c.animaapp.com/TPZdvj18/img/star-1-5.svg" />
              <div class="text-wrapper-12">(88.7k reviews)</div>
            </div>
            <div class="meta-2">
              <div class="text-wrapper-13">Jr</div>
              <div class="text-wrapper-14">L2</div>
              <div class="ellipse"></div>
            </div>
          </div>
          <div class="course-box-3">
            <img class="rectangle" src="https://c.animaapp.com/TPZdvj18/img/rectangle-3-1.svg" />
            <p class="ryley-geir-daelman">
              <span class="span">Ryley Geir Daelman<br /></span>
              <span class="text-wrapper-9">Video games<br /></span>
              <span class="text-wrapper-10"
                >Kids will learn more about how to design a game and make it attractive for other kids, they will learn
                how to change the characters behavior depending on a certain event , they will be challenged to create
                their own rules, worlds, and compete with each other<br
              /></span>
            </p>
            <div class="rating-box">
              <div class="text-wrapper-11">4.5</div>
              <img class="star" src="https://c.animaapp.com/TPZdvj18/img/star-1-5.svg" />
              <div class="text-wrapper-12">(88.7k reviews)</div>
            </div>
            <div class="meta-2">
              <div class="text-wrapper-13">Jr</div>
              <div class="text-wrapper-14">L3</div>
              <div class="ellipse"></div>
            </div>
            <p>lashdbflasbflkasbldfjkasldjkfblasjkbflkadsbflka</p>

          </div>
        </div>
        <p class="genio-tech-is-an">
          Genio-Tech is an organization founded in 2014 by Eng Ahmed Samir to spread Robotics, Computer science and STEM
          Education in Egypt, over the last couple of years it became on the the leading STEM education academies in
          Alexandria and Egypt.<br /><br />Genio-Tech advocates change in our young generations’ brains. Therefore, our
          courses vary from simple physics to advanced rocket sciences, done with a twist of fun and interaction to
          encourage their curiosity and fuel their desire to learn.
        </p>
        <img class="image" src="https://c.animaapp.com/TPZdvj18/img/image-17.png" />
        <p class="how-to-enroll-your">How To Enroll Your Child To A Class?</p>
        <div class="overlap">
          <div class="ellipse-2"></div>
          <div class="apply-now">APPLY NOW</div>
        </div>
        <div class="gallery-container">
          <div class="frame-7"></div>
          <div class="frame-8"></div>
          <div class="frame-9"></div>
          <div class="frame-10"></div>
        </div>
        <div class="navbar-2">
          <img class="img" src="https://c.animaapp.com/TPZdvj18/img/image-11-1@2x.png" />
          <div class="text-wrapper-15"><a href="index.html">HOME</a></div>
          <div class="text-wrapper-15"><a href="/about">ABOUT US</a></div>
          <div class="text-wrapper-15">AGE 6-11</div>
          <div class="text-wrapper-15">AGE11-16</div>
          <div class="text-wrapper-15">AGE16+</div>
          <div class="text-wrapper-15">COURSES</div>
        </div>

      </div>
    </div> -->
  </body>
  {% endblock %}
</html>


