<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:700">
    <link rel="stylesheet" href="{% static 'genioapp/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'genioapp/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'genioapp/styleguide.css' %}" />
  </head>
  <body>
    {% csrf_token %}
    <div class="landing-page">
      <div class="div">
        <div class="frame">
          <img class="mdi-phone" src="https://c.animaapp.com/TPZdvj18/img/mdi-phone.svg" />
          <div class="TEL">TEL:&nbsp;&nbsp;(+2) 03 5832093</div>
          <img class="socials-box" src="https://c.animaapp.com/TPZdvj18/img/socials-box.svg" />
          <div class="frame-2">
            <div class="text-wrapper">LOGIN</div>
            <img class="vector" src="https://c.animaapp.com/TPZdvj18/img/vector.svg" />
          </div>
          <div class="navbar"></div>
        </div>
        <div class="overlap-group">
          <div class="INTRODUCE-YOUR-KID-wrapper">
            <p class="INTRODUCE-YOUR-KID">INTRODUCE YOUR KID<br />TO THE FUTURE<br />GENIO - TECH</p>
          </div>
          <div class="content">{% block content %}{% endblock %}</div>
        </div>
        <div class="text-wrapper-2">Explore all our courses</div>
        <div class="text-wrapper-3">About us</div>
        <div class="course-catalogue">
          <div class="tabs">
            <div class="div-wrapper"><div class="text-wrapper-4">Kodu software</div></div>
            <div class="frame-3"><div class="text-wrapper-5">Scratch software</div></div>
            <div class="frame-4"><div class="text-wrapper-6">EV 3 Robotics</div></div>
            <div class="frame-5"><div class="text-wrapper-7">Tetrix</div></div>
            <div class="frame-6"><div class="text-wrapper-8">Competition training</div></div>
          </div>
          <div class="course-box">
            <img class="rectangle" src="https://c.animaapp.com/TPZdvj18/img/rectangle-3-5.svg" />
            <p class="p">
              <span class="span">Claudia Watts<br /></span>
              <span class="text-wrapper-9">Video games<br /></span>
              <span class="text-wrapper-10"
                >In this course kids will learn the concepts of game design, they will build their 3D world, create the
                characters and program them to follow their rules<br
              /></span>
            </p>
            <div class="rating-box">
              <div class="text-wrapper-11">4.5</div>
              <img class="star" src="https://c.animaapp.com/TPZdvj18/img/star-1-5.svg" />
              <div class="text-wrapper-12">(88.7k reviews)</div>
            </div>
            <div class="meta">
              <div class="text-wrapper-13">Jr</div>
              <div class="text-wrapper-14">L1</div>
              <div class="ellipse"></div>
            </div>
          </div>
          <div class="course-box-2">
            <img class="rectangle" src="https://c.animaapp.com/TPZdvj18/img/rectangle-3-3.svg" />
            <p class="p">
              <span class="span">Victoria Ion<br /></span>
              <span class="text-wrapper-9">Video games<br /></span>
              <span class="text-wrapper-10"
                >Kids will learn more concepts about programming their game and adding much controllers, they will learn
                how to use joystick to have a more fun interacting game<br
              /></span>
            </p>
            <div class="rating-box">
              <div class="text-wrapper-11">4.5</div>
              <img class="star" src="https://c.animaapp.com/TPZdvj18/img/star-1-5.svg" />
              <div class="text-wrapper-12">(88.7k reviews)</div>
            </div>
            <div class="meta-2">
              <div class="text-wrapper-13">Jr</div>
              <div class="text-wrapper-14">L2</div>
              <div class="ellipse"></div>
            </div>
          </div>
          <div class="course-box-3">
            <img class="rectangle" src="https://c.animaapp.com/TPZdvj18/img/rectangle-3-1.svg" />
            <p class="ryley-geir-daelman">
              <span class="span">Ryley Geir Daelman<br /></span>
              <span class="text-wrapper-9">Video games<br /></span>
              <span class="text-wrapper-10"
                >Kids will learn more about how to design a game and make it attractive for other kids, they will learn
                how to change the characters behavior depending on a certain event , they will be challenged to create
                their own rules, worlds, and compete with each other<br
              /></span>
            </p>
            <div class="rating-box">
              <div class="text-wrapper-11">4.5</div>
              <img class="star" src="https://c.animaapp.com/TPZdvj18/img/star-1-5.svg" />
              <div class="text-wrapper-12">(88.7k reviews)</div>
            </div>
            <div class="meta-2">
              <div class="text-wrapper-13">Jr</div>
              <div class="text-wrapper-14">L3</div>
              <div class="ellipse"></div>
            </div>
          </div>
        </div>
        <p class="genio-tech-is-an">
          Genio-Tech is an organization founded in 2014 by Eng Ahmed Samir to spread Robotics, Computer science and STEM
          Education in Egypt, over the last couple of years it became on the the leading STEM education academies in
          Alexandria and Egypt.<br /><br />Genio-Tech advocates change in our young generations’ brains. Therefore, our
          courses vary from simple physics to advanced rocket sciences, done with a twist of fun and interaction to
          encourage their curiosity and fuel their desire to learn.
        </p>
        <img class="image" src="https://c.animaapp.com/TPZdvj18/img/image-17.png" />
        <p class="how-to-enroll-your">How To Enroll Your Child To A Class?</p>
        <div class="overlap">
          <div class="ellipse-2"></div>
          <div class="apply-now">APPLY NOW</div>
        </div>
        <div class="gallery-container">
          <div class="frame-7"></div>
          <div class="frame-8"></div>
          <div class="frame-9"></div>
          <div class="frame-10"></div>
        </div>
        <div class="navbar-2">
          <img class="img" src="https://c.animaapp.com/TPZdvj18/img/image-11-1@2x.png" />
          <div class="text-wrapper-15">HOME</div>
          <div class="text-wrapper-15">Enroll Instructor</div>
          <div class="text-wrapper-15">AGE 6-11</div>
          <div class="text-wrapper-15">AGE 11-16</div>
          <div class="text-wrapper-15"><button>
            <a href="{% url 'genioapp:courseregistration' %}">
              Course Registration
            </a>
          </button></div>
          <div class="text-wrapper-15">
          <button>
            <a href="{% url 'genioapp:instructorsignup' %}">
              Instructor Enroll
            </a>
          </button>
        </div>
            
            <div class="text-wrapper-16">Button</div>

          
          <div class="btn">
            
            
          </div>
        </div>
        <button class="btn-primary"><div class="text-wrapper-16">Register</div></button>
        <button class="button"><div class="text-wrapper-16">Register</div></button>
        <button class="btn-primary-2"><div class="text-wrapper-16">Register</div></button>
      </div>
    </div>
  </body>
</html>


