{% extends 'genioapp/base0.html' %}
{% load static %}
{% block content %}
<body>
        <div class="login-form-container">

    <h1>Order Details</h1>
    <h3>Course Name: {{ course.title }}</h3>
    <h3>Level: {{ courselevels.name }}</h3>
    <h3>Price ${{ course.price }} CAD</h3>

    {% if not ordercompleted %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
            <button class="btn-primary" type="submit">Enroll and Make Payment</button></div>
        </form>
    {% else %}
        <p>You are already enrolled in this course level.</p>
    {% endif %}
</div>
 <div class="extra-space"></div>
<style>
     .extra-space {
        margin-bottom: 430px;
    .u-text-color-grey {
        font-weight: bold;
        font-size: 16px;
    }
    form label {
        font-weight: bold;
        color: #333;
    }

    form p {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 16px;
    }
</style>
</body>
{% endblock %}
