{% extends 'genioapp/base0.html' %}
{%  load static %}
{% block content %}
    <body>
        <h2>Welcome, {{user.username}}</h2>
        <div>
            <a href="{% url 'genioapp:logout' %}">Logout</a>
        </div>

        <h2>User Profile</h2>
        <p>Username: {{ profile_data.username }}</p>
        <p>User Group: {{ profile_data.group }}</p>
        <p>Name: {{ profile_data.name }}</p>
        <p>Age: {{ profile_data.age }}</p>
        <p>Email: {{ profile_data.email }}</p>
        <p>Gender: {{ profile_data.gender }}</p>
        <p>Country: {{ profile_data.country }}</p>
        <p>Phone: {{ profile_data.phone }}</p>

        {% if profile_data.stu_course_levels %}
            <h2>Student Orders</h2>
            {% for stu_course_lvl in profile_data.stu_course_levels %}
                <h3>Course: {{ stu_course_lvl.course_title }}</h3>
                <p>Course Level: {{ stu_course_lvl.course_level }}</p>
                <h4>Sessions</h4>
                <ul>
                    {% for session in stu_course_lvl.sessions %}
                        <li>Session: {{ session.session }}</li>
                        <li>Start Time: {{ session.start_datetime }}</li>
                        <li>End Time: {{ session.end_datetime }}</li>
                        <!-- Add other session details as needed -->
                    {% endfor %}
                </ul>
            {% endfor %}
        {% else %}
            <p>No student orders available.</p>
        {% endif %}
        </body>
{% endblock %}
